{% extends 'base.html' %}

{% load static %}
{% block title %}Login{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block body %}
  <div class="container">
    <div class="text-center logo my-4">
      <h1>Cornershop</h1>
      <h2>By Uber</h2>
    </div>
    
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-18">
           
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-danger">Log in</button>
            </form>
          <div class="text-muted text-center">
            Create New account <a href="{%url 'signup'%}">Sign up </a>
          </div>
      </div>
      <span class="vertical-line"></span>
      <div class="col-lg-4 col-md-6 col-sm-4">
      
        <ol class="nav navbar">
        <li><a href="{% url 'social:begin' 'facebook' %}" class="fa fa-facebook"></a></li>
        <li></li><a href="#" class="fa fa-google"></a></li>
        <li></li><a href="#" class="fa fa-uber">Uber</a></li>
        <li></li><a href="#" class="fa fa-apple"></a></li>
      
      <small><br>You can sign up for Cornershop with your Uber, Apple, Google or Facebook account. If you don't have an account yet, you can create one here.</small>
    </ol>  
    </div>
    </div>
  </div>
{% endblock %}